body {
    max-width: 1000px;
    min-height: 100vh;
    font-family: sans-serif;
    margin: auto;
}
header, main, footer {
    padding: 1rem 2rem 1rem 2rem
}
h1 {
    color: tomato;
    font-size: 50px;
    margin: 0 auto;
}
img {
    width: 100%;
}
h2, h3 {
    font-size: 25px;
    margin-top: 5px;
}

h3 {
    color: gray;
    font-weight: normal;
}

html {
    border-left: lightgray 5px solid;
}

ul {
    padding: 0;
    display: flex;
    justify-content:space-between;
    list-style-type: none;
}

.continue {
    font-weight: bold;
    margin-left: 80%;
    color: tomato;
    padding-bottom: 25px;
    padding-top: 25px;
}

.firstList {
    color: lightgray;
}
.lastList {
    color: tomato;
}
article {
    margin-bottom: 4rem;
    border-bottom: 1px lightgray solid;
}
p {
    font-size: 18px;
}
p::first-letter {
    font-size: 4rem;
    font-weight: bold;
    color: lightgray;
    float: left;
}
footer {
    padding-top: -20px;
    color: lightgray;
}
